body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3c3c3c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ------------------------- SIGN IN ------------------------- */

.signin {
	width: 20%;
	text-align: center;
	margin: 10% auto;
}

.signin > h1, .signin > p {
	color: white;
}

.signin > p > a {
	color: #c5e0ff;
}

.signin > form {
	text-align: left;
}

.signin > form > label {
	color: white;
	margin-top: 10px;
}

.signin > form > input {
	padding: 10px;
	width: 100%;
}

.signin > form > .cta {
	text-align: center;
}

.signin > form > .cta > button {
	padding: 10px;
	margin: 5px 0;
	background-color: #c5e0ff;
	color: black;
	cursor: pointer;
}

/* ------------------------- SIGN UP ------------------------- */

.signup {
	width: 20%;
	text-align: center;
	margin: 10% auto;
}

.signup > h1, .signup > p {
	color: white;
}

 .signup > p > a {
 	color: #c5e0ff;
 }

.signup > form {
	text-align: left;
}

.signup > form > label {
	color: white;
	margin-top: 10px;
}

.signup > form > input {
	padding: 10px;
	width: 100%;
}

.signup > form > .cta {
	text-align: center;
}

.signup > form > .cta > button {
	padding: 10px;
	margin: 5px 0;
	background-color: #c5e0ff;
	color: black;
	cursor: pointer;
}

.signout {
	padding: 10px;
	background-color: #c5e0ff;
}

/* ------------------------- NAVIGATION ------------------------- */

.nav {
	list-style-type: none;
	padding: 20px;
    padding-top: 0;
    border-bottom: 1px #c5e0ff dashed;
}

.nav > li {
	display: inline-block;
	margin: 0 10px;
}

.nav > li > a {
	color: white;
}

/* ------------------------- ACCOUNT ------------------------- */

.account {
	width: 30%;
	text-align: center;
	margin: 8% auto;
	color: white;
}

.account > img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin-bottom: 10px;
}

.account > button, .account > form > button  {
	padding: 10px;
	background-color: #c5e0ff;
}

.account > form > input {
	padding: 10px;
    width: 100%;
}

/* ------------------------- WEBCHAT ------------------------- */

.thread-list {
	list-style-type: none;
	padding: 0 15px;
	color: white;
	text-align: left;
	margin-top: 15px;
	overflow-y: scroll;
    max-height: 355px;
}

.thread-list > li {
	margin: 15px 0;
	position: relative;
	height: 60px;
	cursor: pointer;
	padding: 10px;
}

.thread-list > li > img {
	width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-left: 10px;
}

.thread-list > li > .thread-name {
	margin-left: 70px;
	position: absolute;
	top: 30px;
    left: 20px;
}

.thread-list > li > .remove {
	position: absolute;
	top: 0;
	right: 5px;
}

.haveUnreadMsg {
    padding: 5px;
    border-radius: 100px;
    background-color: red;
    top: 6px;
    left: -85px;
    position: absolute;
}

.thread-active {
	background-color: #c5e0ff;
	color: black;
}

.box-left > button {
	padding: 10px;
	margin: 20px;
	background-color: #c5e0ff;
}

.userList {
	position: relative;
}

.showUserList {
	color: white;
	text-decoration: underline;
	cursor: pointer;
	position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: -10px;
    font-size: 12px;
}

.chat-users-list {
	list-style-type: none;
	margin: 0;
	overflow-x: scroll;
	display: flex;
	border-bottom: 1px dashed #c5e0ff;
	padding-left: 0;
}

.chat-users-list > li {
	display: inline-block;
	margin: 0 10px;
	padding: 10px;
}

.chat-users-list > li > p {
	text-align: center;
	color: white;
}

.chat-users-list > li > img {
	border-radius: 100px;
	width: 80px;
	height: 80px;
	object-fit: cover;
}

.chat-users-list-chat {
	list-style-type: none;
	margin: 0;
	overflow-x: scroll;
	display: flex;
	border-bottom: 1px dashed #c5e0ff;
	padding-left: 0;
}

.chat-users-list-chat > li {
	display: inline-block;
	margin: 0 10px;
	padding: 10px;
	cursor: pointer;
}

.chat-users-list-chat > li > p {
	text-align: center;
	color: white;
	margin: 0;
}

.chat-users-list-chat > li > img {
	border-radius: 100px;
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.container {
	display: flex;
}

.box-left {
	width: 15%;
}

.add-thread {
	position: relative;
    left: 4%;
    top: 12px;
    padding: 3px 8px;
    background-color: #c5e0ff;
    font-size: 20px;
    border-radius: 100px;
    cursor: pointer;
}

.form-thread {
	width: 50%;
}

.form-thread-input {
	width: calc(100% - 20px);
	padding: 10px;
}

.form-thread-select {
	width: 100%;
}

.box-right {
	width: 85%;
	padding: 20px;
	border-left: 1px dashed #c5e0ff;
}

.box-right > div > button {
	padding: 10px;
	background-color: #c5e0ff;
}

.box-right-container {
	overflow: hidden;
	position: relative;
}

.chat-box {
    padding: 20px;
    margin: 0;
    width: calc(100% - 40px);
    height: 340px;
    overflow-y: scroll;
    list-style-type: none;
    background-color: #c5e0ff;
}

.chat-box-full {
	height: 490px !important;
}

.chat-box > li > p {
	background-color: white;
	padding: 20px 45px;
	border-radius: 100px;
	display: inline-block;
	color: black;
	margin: 5px;
	white-space: pre-line;
}

.send-block {
	width: 100%;
	position: relative;
}

.showEmojis {
	position: absolute;
    top: -1%;
    right: 11%;
    cursor: pointer;
}

.emoji-picker {
	position: absolute !important;
    top: -340px;
    display: inline-block !important;
    right: 20px;
}

.sender {
	text-align: right;
}

.sender a {
	color: #c5e0ff;
}

.sender > p {
	background-color: #3c3c3c !important;
	color: white !important;
	display: inline-block;
}

textarea {
	width: calc(90% - 90px);
    height: 25px;
    background-color: white;
    border: none;
    padding: 20px;
    float:left;
    resize: none;
    outline: none;
    padding-right: 70px;
}

.send-msg {
    width: 10%;
    height: 65px;
    background-color: #c5e0ff;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    border-top: 1px solid white;
    outline: none;
    cursor: pointer;
}

.send-msg > img {
	width: 60px;
    height: 60px;
}

.uploadFileIcon {
	position: absolute;
    width: 20px;
    right: 13.5%;
    top: 8%;
    cursor: pointer;
}

.chat-img {
	width: 200px;
    object-fit: cover;
    height: 200px;
}

/* ------------------------- FOOTER ------------------------- */

footer {
	clear: both;
    border-top: 1px #c5e0ff dashed;
    padding: 20px;
    color: white;
    text-align: right;
}

@-moz-document url-prefix() {
    textarea {
    	height: 24px;
    }
    .send-msg {
    	border-top: 1px solid black !important;
    }
}

@media (max-width: 992px) {
	.box-left {
		width: 100%;
	}

	.box-right {
		width: 100%;
		padding: 0;
		border-top: 1px dashed #c5e0ff;
		border-left: none;
	}

	.container {
		display: initial;
	}

	textarea {
		width: calc(80% - 90px);
	}
	.send-msg {
    	width: 20%;
    }
    .showEmojis {
    	right: 21%
    }
    .uploadFileIcon {
	    right: 27%;
	}
}